// app global css in SCSS form

// Fonts del template
@font-face {
  font-family: $f-maghony;
  src: url("/fonts/Maghony.ttf") format("ttf");
}

@font-face {
  font-family: $f-montserrat;
  src: url("/fonts/Montserrat.ttf") format("ttf");
}

.f-maghony {
  font-family: $f-maghony;
}

.f-montserrat {
  font-family: $f-montserrat, sans-serif;
}
